# xp-lang/compiler

language: php

sudo: false

php:
  - 5.4
  - 5.5
  - 5.6
  - nightly
  - hhvm

before_script:
  - wget 'https://github.com/xp-framework/xp-runners/releases/download/v5.6.1/setup' -O - | php
  - composer install --prefer-dist
  - echo "vendor/autoload.php" > composer.pth
  - echo "use=vendor/xp-framework/core" > xp.ini
  - echo "[runtime]" >> xp.ini
  - echo "date.timezone=Europe/Berlin" >> xp.ini

script:
  - ./unittest src/test/config/*ini
